[2019-10-10 20:45] rwwagner90 commented on #407
Yeah, might be something with ember-cli-tailwind no longer working. I know the recommendation was to use tailwind directly per the discussion on https://github.com/embermap/ember-cli-tailwind/issues/143

@samselikoff do you think we need to make the switch here to fix this?

[2019-10-10 20:46] rwwagner90 commented on #406
@alexlafroscia I think we need to do some work to use tailwind manually here, rather than ember-cli-tailwind, as per the discussion here https://github.com/embermap/ember-cli-tailwind/issues/143

I am not sure if that helps or not, but would be a step in the right direction.

[2019-10-10 20:47] alexlafroscia commented on #406
Would making that change be enough to get this working?

I'm happy to take a pass at dropping `ember-cli-tailwind` in this add-on if it can resolve my issue, as it's a bit of a blocker for us right now.

[2019-10-10 20:59] samselikoff commented on #407
Yes, it would be good to get AddonDocs off of Ember CLI Tailwind. I actually have a free video coming out soon walking through doing this on EmberMap's frontend codebase but if anyone wants to they can dive in and do it with Ember CLI Postcss right away.

[2019-10-10 23:27] rwwagner90 commented on #406
@alexlafroscia I am not sure if that would fix it, but I suspect it would be helpful. If you have the time to give it a try, that would be great!

[2019-10-10 23:30] rwwagner90 commented on #407
^ cc @alexlafroscia

[2019-10-13 05:11] maxwondercorn opened #410 "Markdown linting"
Is there in any interest in adding the markdown linting used in `guides-source` and `cli-guides`?  It's also being added to the Octane version of the  super-rentals tutorial.

The linting does spell checking, catches repeated words, enforces consistency and other checks.  The original PR (ember-learn/cli-guides#73) has more details. This would give addon authors the same tools to make sure their p

[2019-10-18 16:03] samselikoff commented on #407
https://github.com/ember-learn/ember-cli-addon-docs/pull/412 swapped out Ember CLI Tailwind with PostCSS and tailwindcss, but we should verify if actually fixed the brand color issue here.

[2019-10-18 16:05] barryofguilder commented on #407
I can look into this today.

[2019-10-18 17:12] barryofguilder commented on #407
@samselikoff I can confirm that the custom brand color is working for me when I use the `master` branch in my addon! Thanks @josemarluedke

[2019-10-18 17:40] #407 closed

[2019-10-18 17:55] alexlafroscia commented on #406
@rwwagner90 you confirmed that this isn't an issue anymore?

[2019-10-18 18:34] samselikoff commented on #407
Woot!

[2019-10-19 11:16] rwwagner90 commented on #406
@alexlafroscia I did not, I thought I saw you commented somewhere that it was fixed?

[2019-10-25 03:04] scalvert opened #417 "Tests fail in FastBoot when addon uses addon docs + ember-cli-fastboot-testing"
This issue was recently introduced here:

https://github.com/ember-learn/ember-cli-addon-docs/blob/master/addon/initializers/route-anchor-jump.js#L9

In FastBoot, there is no `window.location`, so this line causes tests that are written in an addon that uses `ember-cli-addon-docs` and has tests that `ember-cli-fastboot-testing` to fail.

[code]

One solution I can think of is to just not run this

[2019-10-25 14:24] #417 closed

[2019-10-25 15:09] scalvert commented on #417
👍

[2019-10-25 15:10] scalvert commented on #417
Any chance we can get a release out? This is blocking some other PRs of mine due to floating dependency tests.

[2019-10-25 15:11] rwwagner90 commented on #417
@scalvert I do not have permissions on npm. @samselikoff what's the normal release process? If you would like to give me permissions, I don't mind doing the release.

[2019-10-25 15:40] scalvert commented on #417
Ya no worries, @rwwagner90. I figured you may not have release. I can also ping @pzuraq, who's on my team at work.

[2019-10-28 16:27] ef4 commented on #246
I just converted a huge chunk of ember-animated to TypeScript only to discover this issue. 😭

[2019-10-28 18:47] ef4 commented on #246
Apparently the YUIDoc parser is sloppy enough to not care about the difference between JS and TS.  This seems to be working fine:

https://github.com/ember-learn/ember-cli-addon-docs-yuidoc/compare/master...ef4:ts

[2019-10-28 19:49] pzuraq commented on #246
The one good thing about a comment only parser 😄 it works in any language. We can also customize it to make it less terrible (as I have done) though probably should just rewrite it at some point.

[2019-10-28 20:09] rwwagner90 commented on #246
@ef4 @pzuraq what do you guys suggest for TS? Should we recommend YUIDoc or should we try to implement something with TSDoc.

[2019-10-28 20:11] ef4 commented on #246
I agree with the comments above that tsdoc looks like a good bet. I started trying to integrate it just now, but decided I don't have time to do it, especially since the YUIDoc solution was so small.

[2019-10-30 15:01] abel-n opened #420 "Snippet examples don't get registered when used with angle brackets"
[`ember-code-snippet`'s](https://github.com/ef4/ember-code-snippet) appropriate `snippetRegexes` options that is set up in this addon's `ember-cli-build.js` can't handle angle brackets, which might be misleading: although the docs [do mention](https://ember-learn.github.io/ember-cli-addon-docs/docs/components/docs-demo#basic-usage) that:

but they don't mention that actually _any_ other way of inv

[2019-10-31 01:45] abel-n commented on #420
@rwwagner90 I don't know how to push to that PR but I opened another one. I wasn't sure what exactly to test but I think most of the stuff is covered.

[2019-11-01 22:04] josemarluedke opened #422 "Styles don't play nice with disabled application-template-wrapper"
When using addon-docs on an app with `application-template-wrapper` set to `false` (which is default in octane), the app styles don't work well. See below:

https://github.com/ember-learn/ember-cli-addon-docs/blob/75742729ec9443e653ad9383c0fbdafb1b404ef0/addon/styles/addon.scss#L51-L58

<img width="1428" alt="Screen Shot 2019-11-01 at 3 02 55 PM" src="https://user-images.githubusercontent.com/2304

[2019-11-01 22:23] rwwagner90 commented on #422
@josemarluedke if we wrap it, does it mess up styles if it is double wrapped?

[2019-11-01 22:33] josemarluedke commented on #422
It does mess up a few things if double wrapped.

[2019-11-01 22:34] #383 closed

[2019-11-03 00:05] rwwagner90 commented on #422
Perhaps we should just put a note that you should wrap it?

[2019-11-04 15:24] mike-engel opened #423 "Ability to collapse sections"
It think it would be nice if each section in the main navigation area could be collapsed. This would help with a docs project with many sections and pages, making navigation much easier. This could be a simple state key in the `x-section` component, with an available prop `collapsed` to set the default state.

If a PR would be supported for this, I'm happy to create it. Thanks!

[2019-11-04 16:29] rwwagner90 commented on #423
That sounds good to me. @samselikoff are you in favor?

[2019-11-04 16:30] #420 closed

[2019-11-04 17:02] samselikoff commented on #423
Potentially! I'd like to see some examples of the UI/UX first, I think a lot of times this sort of feature goes unused and just clutters up the UI. It also can make it harder to find things (first I have to expand every section to see if it has what I want).

I see a lot of sites like Zeit Next and Svelte etc. that don't have this but again I'm open to it.

I think ideally this would not be config

[2019-11-04 17:06] rwwagner90 commented on #423
I was thinking it would be purely opt in. I'm not sure if I would want it enabled by default over 3 items.

[2019-11-04 22:36] mike-engel commented on #423
Yep, I was thinking purely opt in. I guess that would be two props: `collapsible`, and `startCollapsed` (or something).

I'm assuming that by the `square` docs, you mean [these docs](https://developer.squareup.com/reference/square)?

If so, that's not bad, and could be a good solution for most people if it was opt in :)

[2019-11-05 14:25] samselikoff commented on #423
Whoops meant to link them! Yep those docs. I just like that there's no arrows that kind of clutter up the UI, you just click a section, it opens it + navigates to the first page. Feels like less work to me.

I also would like to see API docs move to a separate top-level nav, I think that would also help the UI situation. (No pressure to work on that but if you feel so inclined I think it would be

[2019-11-05 20:43] mike-engel commented on #423
I like the idea of API docs moving to a separate tab, but I think I'll leave that for another PR. I'm new to Ember so I think this PR is going to be enough for me to handle 😅

I don't have a current screenshot of our docs—this was more in anticipation of all the docs we're going to have at some point. I've included a screenshot of our information architecture, however, which should help illustrate

[2019-11-07 20:54] HeroicEric opened #424 "Add support (or examples) for documenting arguments for glimmer components"
Possibly related to https://github.com/ember-decorators/argument/issues/95

The [quickstart in the guide](https://ember-learn.github.io/ember-cli-addon-docs/docs/quickstart) recommends using [ESDoc](https://esdoc.org/) with [`ember-cli-addon-docs-esdoc`](https://github.com/ember-learn/ember-cli-addon-docs-esdoc) if you're defining your components as ES6 classes and even links to [a nice example co

[2019-11-07 20:56] sinankeskin opened #425 "Clone + ember serve fails"
ERROR Summary:

  - broccoliBuilderErrorStack: TypeError: Cannot read property 'push' of undefined
    at generateYuiDocJsonApi (C:\Users\Khons\Sites\Javascript\ember-cli-addon-docs\node_modules\ember-cli-addon-docs-yuidoc\lib\preprocessors\generate-yuidoc-jsonapi.js:75:23)
    at DocsGenerator.build (C:\Users\Khons\Sites\Javascript\ember-cli-addon-docs\node_modules\ember-cli-addon-docs-yuidoc\lib

[2019-11-07 21:05] ro0gr commented on #425
looks the same as https://github.com/ember-learn/ember-cli-addon-docs-yuidoc/issues/4

[2019-11-07 21:15] sinankeskin commented on #425
Yeap looks like same issue. Sorry.

[2019-11-07 21:15] #425 closed

[2019-11-07 23:36] rwwagner90 commented on #425
Is anyone using Windows can help us with a fix, that would be great!

[2019-11-07 23:43] rwwagner90 commented on #424
I am not sure if glimmer components are supported in addon docs. @pzuraq do you happen to know?

[2019-11-08 02:02] pzuraq commented on #424
The YUIDoc documenter should still work, since it’s comment based. I’m unsure about the ESDoc documenter, it may have a way to do it via comments, which is what I’d recommend for the time being.

[2019-11-08 02:55] rwwagner90 commented on #424
I think we should likely steer folks in the direction of YUIDoc, since it works with pretty much anything.

[2019-11-08 07:34] sinankeskin commented on #425
I've tested. This [PR](https://github.com/ember-learn/ember-cli-addon-docs-yuidoc/pull/9) fixing this issue but latest version (v0.2.1) doesn't have that fix.

I guess release a new npm package (ember-cli-addon-docs-yuidoc) version would be suffice.

Thank you.

[2019-11-08 13:13] rwwagner90 commented on #425
@pzuraq do you have permissions to release? If you want to add me to these packages on npm, I can release as well.

[2019-11-08 19:17] pzuraq commented on #425
I'll add you to it

[2019-11-09 00:57] rwwagner90 commented on #425
@sinankeskin released 0.2.3!

[2019-11-09 11:23] sinankeskin commented on #425
Thank you. Appreciate it.

[2019-11-14 16:59] samselikoff commented on #423
I personally don't think it's jarring on the Square site, I think it saves you a click as the index page is usually kinda redundant. But I think it will be easy enough for us to support both.

I think we'll need to change the API to use nesting. (I swear this is how I had it originally but I changed it for some reason... can't remember why. Nesting definitely feels right here.)

Current behavior:

[2019-11-15 08:13] mike-engel commented on #423
Yep, that looks about how I was imagining it! I was already planning to go to a nested structure, so that's perfect.

Excuse my naïveté on this next part, but I'm new to ember (from react), so I may be thinking about this all wrong. What's the best way for the `section` to know that a child route is active? Does each child `item` have to be registered with its parent `section`, or is there a more

[2019-11-15 15:11] samselikoff commented on #423
@mike-engel no problem man, and keep the questions coming! Not naive at all, this kinda stuff is tough 😄

In React you might be used to setting some props and using clone children, in Ember we don't have that kind of flexibility. Instead we use a global service and have nav-items add themselves to it when they are rendered.

We already have some of this wired up: https://github.com/ember-learn/emb

[2019-11-18 08:35] mike-engel commented on #423
Thanks a ton for that explanation! I think it makes a lot of sense, and also helps me at the same time understand how this pattern would work under ember, which is another plus 😁

No promises on when I'll be able to get to it, but it seems pretty straightforward now, so hopefully soon!

[2019-11-26 14:30] Exelord commented on #402
I also got into this issue. The problem is with using angle bracket components with no args. eg:
[code]

[code]

[2019-11-28 15:45] lolmaus opened #427 "Error: Could not read config from meta tag with name "dummy/config/environment" on Windows"
Hi!

When I deploy to Github Pages and open the result in the browser, I receive this error:

This is because the meta tag contains invalid JSON. Here's the offending fragment:

    "rootURL":"/ember-cli-yadda-opinionated/versions\addon-docs/"

As you can see, a reverse slash is used, which is treated as an escape character.

This looks like a Windows issue, as I'm building on Windows.

Related: h

[2019-11-28 15:46] lolmaus commented on #385
Hey, @joukevandermaas, I've just run into #427 on Windows.

Can you please share the hacks and fixes that you have applied?

[2019-11-29 07:45] joukevandermaas commented on #385
@lolmaus we decided not to use github pages because (1) this was an internal addon and we already have deployment infrastructure and (2) I couldn't be bothered to figure out the "happy path" given the issues you mention.

At the company I work for we're also trying out running a Linux VM on Windows (some people use WSL2, some just a VM) and using that for development (using the VS Code container e

[2019-11-29 08:34] lolmaus commented on #385
Yeah, I was thinking about using a Docker container.

[2019-11-29 10:25] lolmaus commented on #93
The readme of my addon has gone *way* out of control, [it's 72 KiB long](https://github.com/kaliber5/ember-cli-yadda-opinionated/blob/v0.12.2/README.md). 🙈

I've tried migrating it to Addon Docs. The result [looks absolutely awesome](https://kaliber5.github.io/ember-cli-yadda-opinionated/versions/addon-docs/docs), but I was discouraged to find out that my documentation is no longer indexable.

Thi

[2019-11-29 12:33] rwwagner90 commented on #93
Perhaps I am wrong, but couldn't people add prember and fastboot as dev deps and point them at the dummy app?

[2019-11-29 12:37] rwwagner90 commented on #385
I'm not familiar with Windows or what issues might be occurring. If you guys know of fixes and/or wanted to help us setup Windows tests, that would be great!

[2019-11-29 12:56] lolmaus commented on #93
@rwwagner90 It should be available out of the box, preconfigured. All the FastBoot business, shoeboxing, handling network requests, whitelisting libraries, etc.

[2019-11-29 13:15] rwwagner90 commented on #93
@lolmaus should the documentation need all those features? Seems like overkill to me.

[2019-11-29 14:55] lolmaus commented on #93
@rwwagner90 The documentation surely needs to be indexed.

As for shoeboxing and such, I don't know! I have a very vague idea how `ember-cli-addon-docs` is designed under the hood.

[2019-11-29 15:44] rwwagner90 commented on #93
@lolmaus Indexed, sure. All we need for that is prember. I don't know of documentation that uses Ember data, requires network requests, needs to whitelist libraries etc.

With this in mind, I think the consumers of ember-cli-addon-docs are free to add prember to the dummy site as they wish. Do you see any reason they could not?

[2019-11-29 15:49] lolmaus commented on #93
Well, they could also configure `ember-cli-deploy` on their own, deal with `rootURL` and version numbers on their own, figure out YUIDoc integration on their own...

But for some reason you've chosen to bundle all this pre-configured. Probably because you want users to focus on writing documentation and not spending time researching how to deal with all that.

Without `prember`, `ember-cli-addon-d

[2019-11-29 15:50] lolmaus commented on #93
For example, I have no idea how to address this: https://github.com/ember-learn/ember-cli-addon-docs/issues/327

[2019-11-29 19:17] rwwagner90 commented on #93
I don't think that's a fair example. Then there would be no need for this addon.

#327 would have to be dealt with, yes. I did not think about that. Aside from that though, what I am trying to say here is prember is a simple install away. I would advocate for documenting how to use it, rather than forcibly bundling.

[2019-12-02 09:55] lolmaus commented on #93
That was my point. Any addon is just a means to save you some effort.

There is no reason for addon documentation to be unavailable as static HTML. Without static HTML, `ember-cli-addon-docs` is surely incomplete. Pages are slower to render than they could be, and documentation is not indexed by search engines.

***

What's the problem with having it out of the box?

***

Well, this is definitely

[2019-12-02 13:00] rwwagner90 commented on #93
It's not a default thing for Ember apps. Would you say it should be the default for all Ember apps?

[2019-12-02 13:29] lolmaus commented on #93
Uhm, no. But it should definitely be the default for addon docs.

Do you imply that `prember` makes little sense for interactive addon demos typically served from dummy apps?

In that case, the out-of-the box configuration of `ember-cli-addon-docs` could enable `prember` only for the docs pages and omit the rest of the dummy app. The rest of the dummy app could be opt-in.

IMO, that's another argu

[2019-12-02 14:41] rwwagner90 commented on #93
@lolmaus I think I am mainly saying it should be up to the user. If prember is the default, and you really wanted a normal Ember app, you would need to find a way to disable it. I'm a big fan of prember, and I totally agree with you that it should be possible to use for addon docs, but I think it should be up to the user to opt in to, or if we made it the default, there needs to be an easy opt-out

[2019-12-02 15:11] lolmaus commented on #93
@rwwagner90 Can you think of a case where an addon author would want to disable `prember` for the documentation pages?

[2019-12-02 16:05] rwwagner90 commented on #93
Off the top of my head, no, but I think making it opt in / opt out should be fine and support all cases. @samselikoff @dfreeman @pzuraq what do you guys think about making prember the default? Should it be default with an opt out or not enabled by default, with an opt in?

[2019-12-02 16:11] elwayman02 commented on #93
I'm in favor of making it a default with easy opt out.

[2019-12-02 16:18] samselikoff commented on #93
No reason for it not to be included, simply hasn't been done yet! We just need someone motivated who's willing to contribute.

AddonDocs is a great use-case for Prember out of the box since all the data is known at build time.

Note: Prember apps are still "normal Ember apps" so all client-side interaction will still work.

I do believe https://github.com/ember-learn/ember-cli-addon-docs/issues/32

[2019-12-02 16:23] dfreeman commented on #93
The prember compatibility issue in #327 has been looming large for me recently as we gear up for a big Octane-alignment docs overhaul in ember-cli-typescript.

I'll aim to revisit that this week to see if we can at least solve the blocking part so that prember _can_ be used with AddonDocs. Beyond that, I don't have a super strong opinion about whether prember should be included out of the box, but

[2019-12-02 17:13] rwwagner90 commented on #93
@dfreeman let me know when you make some progress on that issue, and I can then try to help out with prember integration.

[2019-12-06 23:44] psbanka opened #429 "ember-cli-addon-docs includes ember-modal-dialog and interferes with documented addon"
Hi, there. I have an addon which uses and extends `ember-modal-dialog` . However, when running tests of our addon, the test suddenly fail after adding `ember-cli-addon-docs`. Specifically, the dialog no longer inserts its overlay (and our tests verify this). This appears to be due to the fact that `ember-cli-addon-docs` extends the default dialog in this file: `addon/components/modal-dialog/compon

[2019-12-08 15:08] scytalezero opened #431 "Add support for mermaid diagrams and flowcharts"
[Mermaid](https://github.com/mermaid-js/mermaid) is a really cool project that lets us render flowcharts and diagrams just using markdown. This would be awesome to use in our addon-docs!

![image](https://user-images.githubusercontent.com/704908/70391378-87aed600-19a2-11ea-8a78-6825e108e195.png)

[2019-12-09 14:13] #427 closed

[2019-12-09 22:38] psbanka commented on #429
I was able to work around this by creating `addon/components/our-modal-dialog.js` as

[code]
and changing all references to `modal-dialog` elsewhere in the addon to `our-modal-dialog`. It would seem that a better approach would be to have `ember-cli-addon-docs` re-export *its* version of `modal-dialog` as a different name so as to avoid colliding with dialogs in an addon when testing.

[2019-12-10 22:22] rwwagner90 commented on #429
@psbanka that seems like a logical solution. Would you be interested in opening a PR for that?

[2019-12-12 00:20] psbanka commented on #178
I took an initial shot at this by starting with a tailwinds-1 upgrade PR. Hopefully that will get us started on the path to being able to allow an addon to specify that preflight styles should be skipped if they need that (which our addon does).

[2019-12-13 14:51] Panman82 commented on #262
With the push towards Ember Octane (nearly out), and the push to get addons to document "their Octane ways", I would think this *has* to be climbing up the priority list...

[2019-12-13 16:40] rwwagner90 commented on #262
This issue is unclear to me. Is it asking that we convert our own internal docs to use angle brackets?

[2019-12-13 19:44] Panman82 commented on #262
@rwwagner90 Humm... my thought was that anything emitted by this addon to show component usage would show it with `<AngleBrackets>`. Perhaps #195 is a bit more clear/direct.?.

[2019-12-13 20:56] rwwagner90 commented on #262
I think there are several spots that could use conversions

[2019-12-15 02:47] alexdiliberto opened #437 "Allow working out of the box on CI jobs with Github Actions"
Currently, if you run on Travis and leave `addon-docs.js` empty it will just work because it [falls back to `process.env.TRAVIS_BRANCH`](https://github.com/ember-learn/ember-cli-addon-docs/blob/731830a208e6a36562a4639867439649720a032a/lib/config.js#L32)

We should allow the same fallback behavior for Github Actions.

If, when using Github Actions, you don't explicitly set you `getVersionPath()` or

[2019-12-20 08:50] bitwolfe opened #439 "Deprecation warning for serializer with newer Ember Data versions"
Getting the following deprecation warning when running AddonDocs on Ember 3.15 with matching Ember Data version, but probably affects a few earlier versions too.

[code]

[2019-12-20 08:58] bitwolfe opened #440 "Older incompatible liquid-fire version installed by default with newer Ember versions"
When running AddonDocs on a newer Ember versions (3.15 in my case) I had to use a yarn resolution to get the newer liquid-fire version that is compatible. By default it installs the 0.29.x version which causes the following error:

[code]

I worked around it with Yarn by adding the following resolution to my package.json:

[code]

[2019-12-20 13:31] rwwagner90 commented on #439
Sounds like we need to define a serializer. Would you be interested in opening a PR for this @bitwolfe?

[2019-12-20 14:10] rwwagner90 commented on #440
We could probably just bump to the latest version. @samselikoff do you know of a reason we cannot?

[2019-12-24 08:20] nightire opened #442 "Can not deploy docs on github for a scoped npm package (have repo)"
We're trying to use ember-cli-addon-docs to write interactive docs for one of our addon: https://github.com/choice-form/ui-button

Docs work great locally until we try to deploy it on github pages, there're several issues we found:

1. it can't redirect correctly. Check it by following: https://choice-form.github.io/ui-button/

2. if try to access by manually entering url such as https://choice-fo

[2020-01-02 20:01] josemarluedke commented on #395
I just encountered the same issue still.

[2020-01-03 21:26] samselikoff opened #445 "Document standalone docs apps feature"
https://github.com/ember-learn/ember-cli-addon-docs/pull/409 added a feature to use a standalone app for your addon's AddonDocs site, but did not include documentation.

We need to add documentation for this feature.

[2020-01-08 12:48] bitwolfe commented on #402
Any progress on this? Latest release (v0.6.16) still causes the `Closing tag `p` (on line 49) without an open tag.`. It seems to happen on all self-closing tags in combination with something as simple as having a capital letter anywhere in a tag, even in class names.

This doesn't work:

[code]

But this is fine:

[code]

[2020-01-08 12:55] bitwolfe commented on #402
Also PR #413 does not fix the above issue.

[2020-01-14 21:21] ELepolt opened #447 "Demo not working in markdown file"
I feel like I'm missing something from the documentation:

So I created a template.hbs file following the same naming convention

`tests/dummy/app/docs/example/demo1/template.hbs`
[code]

Then using `ember generate docs-page example` I create this:

`tests/dummy/app/docs/example.md`
[code]

This shows the docs-snippet, but does not actually give the demo.

[2020-01-14 21:49] rwwagner90 commented on #447
For components, wouldn't  they need to be in a `components` folder? I don't think `tests/dummy/app/docs/example/demo1/template.hbs` is going to work.

[2020-01-14 21:55] ELepolt commented on #447
I guess that's kind of my question. So I've now moved `template.hbs` to `tests/dummy/app/templates/docs/components/example/template.hbs`

And `example.md` is now:
[code]

But still the same issue.

[2020-01-15 01:38] rwwagner90 commented on #447
I don't think that directory structure is supported. It's possible something like that is supported with pods, but if you want to create a component and have a directory for all the components for the docs route, I would make a docs folder under components. Try `tests/dummy/app/templates/components/docs/example/template.hbs`

[2020-01-15 02:31] ELepolt commented on #447
There it is. Sorry about the confusion, I had cloned this repo and their `demo1/template.hbs` is located at `tests/dummy/app/pods/docs/components/docs-demo/demo1/template.hbs` and I tried to follow the structure a little too strictly. Thanks so much for your patience!

[2020-01-15 02:31] #447 closed

[2020-01-15 02:47] rwwagner90 commented on #447
Glad you got it figured out @ELepolt!

[2020-01-15 15:37] ELepolt commented on #447
I'm sorry, but I've got one more issue :)

From [the same page](https://ember-learn.github.io/ember-cli-addon-docs/docs/components/docs-demo) I'm trying to get the `Press Me` button working, but it's not able to find the component. What is the file structure that I need to support this?

[2020-01-15 15:39] rwwagner90 commented on #447
@ELepolt I'm not sure I understand. Can you elaborate?

[2020-01-15 15:49] ELepolt commented on #447
I'm starting to wonder if some of my issues here are due to the pods structure being used. Every example that this repo uses has the folder as `demo-name/demo#/` then `template.hbs` and `component.js` files.

So the `template.md` for that page simply has `{{docs/components/docs-demo/demo2}}`. The `demo2` folder has both `template.hbs` and `component.js` files, and `component.js` contains this acti

[2020-01-15 16:24] rwwagner90 commented on #447
@ELepolt I think this is not an issue with this repo, but an issue with placing Ember components in general. I would look at the Ember guides.

[2020-01-23 17:46] #445 closed

[2020-01-24 22:22] #402 closed

[2020-01-25 04:55] rwwagner90 commented on #402
@samselikoff according to @bitwolfe that PR did not fix the issue?

[2020-02-08 07:15] NullVoxPopuli commented on #422
I just ran in to this. I had to:
set: `application-template-wrapper` to true.
remove `"editions": "octane"` from package.json :-\

[2020-02-08 07:18] NullVoxPopuli commented on #340
if anyone comes across this issue and has the motivation to fix octane support, the edition utils package have a way of detecting edition:

https://github.com/emberjs/ember-edition-utils#detecting-edition
[code]

[2020-02-08 16:44] rwwagner90 commented on #422
@NullVoxPopuli any interest in taking a look at a fix? Can you not manually wrap in `<div class="ember-view">`?

[2020-02-08 17:03] NullVoxPopuli commented on #422
omg yes. Yesterday me was an idiot. thanks!

[2020-02-08 20:10] NullVoxPopuli opened #453 "Basic styles for user-land content is broken / over-reset."
Reproduction: https://github.com/NullVoxPopuli/AddonDocsBrokenCssReproduction

it looks like all elements have been stripped of all styles.

![image](https://user-images.githubusercontent.com/199018/74091408-2af49800-4a85-11ea-97c0-401e9bc12d78.png)

Steps in readme copied here:

# Reproduction

[code]

## [https://ember-learn.github.io/ember-cli-addon-docs/docs/quickstart](https://ember-learn.git

[2020-02-08 20:13] NullVoxPopuli commented on #453
Looks like this is fixed by pinning ember-cli-addon-docs to version 0.6.14, from the latest 0.6.16

[2020-02-08 20:21] NullVoxPopuli commented on #453
if 0.6.16 was intended to be a breaking release, that's fine. but should the release notes be updated to suggest that nothing is allowed to be classless?

[2020-02-08 20:21] NullVoxPopuli commented on #453
I confirm that <= 0.6.15 gets me the style behavior I was expecting:
![image](https://user-images.githubusercontent.com/199018/74091554-b9b5e480-4a86-11ea-8acc-ba4b55d43f81.png)

[2020-02-08 21:35] NullVoxPopuli commented on #453
Though, would this mean that markdown transformations are also broken?

![image](https://user-images.githubusercontent.com/199018/74092390-08687c00-4a91-11ea-8a9e-60ab6f6de884.png)

[2020-02-09 01:52] rwwagner90 commented on #453
@NullVoxPopuli I am not quite sure which styles you are saying are broken? Are you referring to headings not having default font sizes?

[2020-02-09 01:53] NullVoxPopuli commented on #453
yeah, lack of sizes, bolding, padding, margin, etc.

[2020-02-09 04:36] NullVoxPopuli commented on #453
Kind of most surprising is the markdown not having any styles.
 - all headers, lists, and whatever else you can make in markdown are completely unstyled.

[2020-02-09 13:32] rwwagner90 commented on #453
@NullVoxPopuli I'm not sure I am seeing all that completely unstyled. I know Tailwind removed default heading sizes in 1.x, so we would have to make sure we are shipping those. Perhaps the same is true for whatever other styles you are seeing not included?

[2020-02-09 13:51] NullVoxPopuli commented on #453
So, how would I style markdown? Do I now need to write all my own css, cause with current tailwind, all markdown is the same unstyled text?

[2020-02-09 15:03] rwwagner90 commented on #453
@NullVoxPopuli I'm not seeing everything unstyled like you are saying. There are styles here https://shipshapecode.github.io/ember-math-helpers/docs/configuration and that is using the latest ember-cli-addon-docs.

You'll notice that the heading is not styled though. Tailwind v1 removed default heading styles, so I believe addon docs should take an opinionated stance and add back equivalents for t

[2020-02-09 15:20] NullVoxPopuli commented on #453
Yes, that's what I was trying to say the whole time ;)

Like, HTML having style stripped/reset is a stance you can take, but markdown doesn't have the ability to add classes, right? Also, what's the point of markdown if there is no difference between a list item and a header, ya know?

[2020-02-09 15:32] rwwagner90 commented on #453
It sounded like you were saying everything was completely unstyled, and that markdown included no styles.

I've been trying to confirm if the issues you were seeing were from Tailwind v1 changing things or if your entire setup was broken and truly had zero styles. It sounds like Tailwind v1 issues so far to me, so I would be in favor of adding back the old Tailwind pre v1 styles for things like he

[2020-02-09 15:45] NullVoxPopuli commented on #453
i could see how it could seem that way 🤔

would be better to define defaults? and have opt out?

[2020-02-09 15:49] rwwagner90 commented on #453
I don't think we really need to have an opt out. This tool should be opinionated and generate formatted documentation. If you want to deviate from that, it can be done manually with CSS. Although, I suppose an opt out wouldn't hurt anything.

[2020-02-09 15:56] NullVoxPopuli commented on #453
Based on what I read for the reason for namespacing the addon-docs' styles, is that people wanted to use their own styles without having to override addon-docs'. If we didn't add an opt out, providing a set of defaults would then frustrate the people who want to customize everything?

[2020-02-09 15:59] rwwagner90 commented on #453
I would still namespace these styles. Unsure exactly how to accomplish it, but we should continue the `docs-` for styles I think.

I'm definitely open to suggestions here.

[2020-02-09 16:10] NullVoxPopuli commented on #453
well, does markdown generate anything with classes? or is it just the HTML?

[2020-02-09 17:29] rwwagner90 commented on #453
I think it would have to be a custom `marked` renderer or something. Unsure how things work now, but we could certainly make it work. https://marked.js.org/#/USING_ADVANCED.md#options

[2020-02-10 13:15] NullVoxPopuli opened #454 "Clarity around automated deployment to gh-pages"
I've had a couple confusions with the deployment process, and am wondering if others have had the same issue.

When I first started the project, I had to manually create the gh-pages branch.. but I also had to make sure it was an empty branch -- delete all my repository files -- as I don't need addon source deploy as if it's a website. There is no home index.html though: https://github.com/NullVox

[2020-02-10 13:24] rwwagner90 commented on #454
The addon docs default is to only publish a version, and not overwrite the root. If you run `ADDON_DOCS_UPDATE_LATEST=true ember deploy production` it should force it to overwrite the root.

[2020-02-10 13:26] NullVoxPopuli commented on #454
Ah, _that's_ what that means. Cool. I'll give it a go! Thanks!

[2020-02-10 13:45] NullVoxPopuli commented on #454
also, I had to do this:
[code]
for github actions.
(just documenting stuff for others to find it quicker)

[2020-02-10 13:51] rwwagner90 commented on #454
Definitely feel free to open a PR to talk about GitHub actions in the official docs 😃

[2020-02-10 13:51] NullVoxPopuli commented on #454
Once I figure out a good setup, I def will!

[2020-02-10 13:52] NullVoxPopuli commented on #454
Yay, the root of my gh-pages has content now! https://github.com/NullVoxPopuli/ember-jsqr/tree/gh-pages

[2020-02-10 13:52] #454 closed

[2020-02-28 01:04] elwayman02 opened #455 "ember install ember-cli-addon-docs forces plugin choice without context"
If someone has come to addon-docs for the first time and is starting to install it, the first thing they'll do is run `ember install ember-cli-addon-docs`. The CLI prompt then asks "Which documentation style would you like to use?" and provides two options: YUIDoc & ESDoc. The user likely has no context as to why they would choose one over the other, and there is no option to opt-out of this choic

[2020-02-28 01:22] elwayman02 opened #457 "Remove/change ESDoc recommendation from Quickstart"
According to @pzuraq, ESDoc's maintainer has not fostered future growth in a way that gives  us confidence in recommending it.

Related: https://github.com/emberjs/rfcs/issues/591

[2020-02-28 01:27] elwayman02 opened #458 "Use blueprint/codemod to eliminate manual quickstart steps"
The majority of the Quickstart guide involves creating new files and copying boilerplate code. This could be accomplished automatically in order to let people dive into their actual documentation sooner.

https://ember-learn.github.io/ember-cli-addon-docs/docs/quickstart

[2020-02-28 01:33] elwayman02 opened #460 "Update examples/boilerplate to Octane"

[2020-02-28 05:38] rwwagner90 commented on #457
Definitely agree, and it doesn't work with Typescript. Removing the recommendation would be great.

[2020-02-28 05:40] rwwagner90 commented on #455
You can remove the specific npm packages and add the other ones to switch from YUIDoc to ESDoc.

[2020-02-28 05:43] rwwagner90 commented on #458
This would be awesome!

[2020-02-28 19:08] elwayman02 commented on #455
Yes, you can, but that doesn't really address the concern here, which is that we're forcing the user to make a choice with no information, and that becomes friction for onboarding.

[2020-02-28 20:26] elwayman02 opened #462 "Link color matches default background"
If you follow the quickstart guide and [set up your 404 route](https://ember-learn.github.io/ember-cli-addon-docs/docs/quickstart#9-add-a-404-route), you'll notice this immediately:

<img width="320" alt="Dummy" src="https://user-images.githubusercontent.com/1325482/75584812-7f0bf000-5a25-11ea-9139-98449382012e.png">

It's only visible if you highlight the text, since the colors are exactly the sa

[2020-02-28 20:29] elwayman02 commented on #462
Interestingly, the 404 page for this project's own docs site has customized CSS to fix this problem: https://ember-learn.github.io/ember-cli-addon-docs/foo

Instead of having custom CSS, we should do our best to have no special configuration for this demo site whatsoever. We need to know that the styles provided in this project work out of the box for the majority of users.

[2020-03-03 22:20] elwayman02 opened #464 "Make docs-header sticky"
I think that, by default, the docs-header component should probably be `position: sticky`, given that it's the most important navigational component of addon-docs and gets displayed on every page, giving people the ability to switch between docs, demos, versions, and reach GitHub.

[2020-03-14 09:43] gokatz opened #465 "there is a mismatch in generation of docs json"
Thanks for this beautiful package which helps all the ember addon to maintain classy docs ❤️

In my case, the name in the `package.json` and in `index.js` file are different.
* My `package.json` has a scoped name (`@org/pkg`) as I have to publish this addon with the namespace.
* `index.js` file is having just `pkg` as I have to use just `pkg` whenever I refer this addon.

However, the `ec-addon-do

[2020-03-15 02:02] rwwagner90 commented on #465
ember-cli does not support setting different names in package.json and index.js I don't think. I would recommend syncing those names up if you can.

[2020-03-20 11:22] gokatz commented on #465
I should! but I cannot do that atm :(
Also, I'm using Ember CLI 3.12 and it works fine for me when I have different names. Won't it be much easier if we fetch names from a single source?

[2020-03-20 13:10] rwwagner90 commented on #465
@gokatz ember-cli has not supported naming them differently for at least a year or two. I know I encountered many issues when I had a project where the names didn't match, and you should be seeing a deprecation warning in your console saying ember-cli doesn't support it right?

[2020-03-20 13:32] gokatz commented on #465
Yeah, you are right. I can see the code for this in ECLI source. Even I expected after your first comment. Somehow, there was no warning in my console. 🤔

I can understand the necessity and will see if I can use same name in my case.

[2020-03-20 15:03] rwwagner90 commented on #465
Since ember-cli does not support the mismatch, I am going to close this. Hope you are able to get your names the same!

[2020-03-20 15:03] #465 closed

[2020-03-26 17:19] #439 closed

[2020-03-30 17:12] nightire commented on #442
for those who's been suffered this issue as I had, it turns out it has nothing to do with the building process. The problem is I add this line in the `ember-cli-build.js` file:

[code]

this will forbid ember.js to put the environment configs in a meta tag in the head section, and instead to write it in the output `.js` file. At the runtime, ember-cli-addon-docs try to get the `rootURL` field as a

[2020-03-30 17:12] #442 closed

[2020-04-05 18:31] lolmaus opened #467 "Extract markdown-template-compiler into a separate addon"
That would be extremely useful.

Ideally, it should be drag-and-drop: install the addon and `template.md` files actually work.

[2020-04-05 18:35] rwwagner90 commented on #467
Definitely sounds useful. I wouldn't know how to do it, but if you want to take a stab at it, feel free!

[2020-04-07 22:31] gabrielcsapo opened #468 "Maintainer / Alternative"
We just converted to use `ember-cli-addon-docs` for the [Ember Engines Docs](http://www.ember-engines.com). As `ember-cli-addon-docs` are no longer being maintained is there a migration plan to something else?

I find it incredibly useful that the community can use one type of method for creating fully-featured docs sites with ease. No longer maintaining and improving `ember-cli-addon-docs` seems

[2020-04-07 23:46] rwwagner90 commented on #468
@gabrielcsapo this is maintained and I've been doing my best to keep it up to date.

[2020-04-07 23:58] gabrielcsapo commented on #468
I was deriving that from the readme it says:

[code]

So new features and closing issues are a part of the maintenance mode?

[2020-04-08 00:02] gabrielcsapo commented on #468
I only ask as I am interested in contributing some fixes as ember-cli-addon-docs has been incredibly useful for improving the ember engines doc experience

[2020-04-08 17:18] rwwagner90 commented on #468
@gabrielcsapo yes, everything is part of maintenance mode, it's simply a warning that those who created the addon are no longer involved. I use this for all my addons, and plan to help keep it running as long as I can!

[2020-04-08 17:18] #468 closed

[2020-04-08 17:20] rwwagner90 commented on #399
@gossi are you interested in opening a PR for this? I believe it may be out of scope, but if you wanted to implement it, I think it could be useful!

[2020-04-14 17:17] #275 closed

[2020-05-03 14:36] villander opened #471 "Markdown is not working properly"
I have a big issue in ember-engines site, markdown is working fine on GitHub repo - https://github.com/ember-engines/ember-engines.com/blob/master/tests/dummy/app/templates/docs/bundling.md

but it doesn't work on-site or local - https://ember-engines.com/docs/bundling

reproduction is available on the master branch - https://github.com/ember-engines/ember-engines.com

ember-engines/ember-engines.

[2020-05-03 15:05] rwwagner90 commented on #471
@villander what's not working about it?

[2020-05-03 16:52] villander commented on #471
@rwwagner90 the **bullets** is not working

In Ember project

![image](https://user-images.githubusercontent.com/10222774/80920307-4ea64200-8d45-11ea-8c9d-bc2d852014ec.png)

In GitHub

![image](https://user-images.githubusercontent.com/10222774/80920315-58c84080-8d45-11ea-888b-ab37f3e576ab.png)

[2020-05-03 18:49] villander commented on #471
We fixed adding some workaround - ember-engines/ember-engines.com/pull/97

[2020-05-04 13:25] rwwagner90 commented on #471
@villander thanks for the info, I believe this should fix it https://github.com/ember-learn/ember-cli-addon-docs/pull/472 it will add the tailwind list style classes by default after that is merged.

[2020-05-04 14:31] villander commented on #471
thanks a lot @rwwagner90, looking forward to seeing it released

[2020-05-04 14:46] #471 closed

[2020-05-07 18:36] alexlafroscia opened #473 "Non-Angle-Bracket Block-Renders Components Parsed Incorrectly in `0.7.0`"
After updating to `0.7.0`, some Markdown files that were previously parsed correctly no longer are.

We have a template like this:

[code]

Rendering the `fluid-select` in this way was fine previously, but now fails; rendering it with non-angle-brackets in the "block" style messes with the way the rest of the file is parsed, so `Custom List` is no longer parsed as an `h2`.

If I convert the exampl

[2020-05-07 19:43] rwwagner90 commented on #473
Hmm, I am not sure what the problem might be here.

[2020-05-07 19:45] alexlafroscia commented on #473
Me neither 🤷 I tried narrowing it down but any time `{{#fluid-select}}` was rendered in that way, the parsing below that was thrown off.

Especially odd since the deployed Addon Docs docs for this addon uses the same syntax!

[2020-05-07 19:53] rwwagner90 commented on #473
I'm guessing it would have to be somewhere in the `compile-markdown` file. I do see this comment talking about handlebars and formatting https://github.com/ember-learn/ember-cli-addon-docs/blob/master/addon/utils/compile-markdown.js#L172-L173

Any chance you would have some time to debug? I would be happy to pair on it next week as well.

[2020-05-16 08:13] lolmaus commented on #93
Well, this is where it went: https://github.com/empress/field-guide#readme

[2020-05-16 14:55] rwwagner90 commented on #93
@dfreeman did you ever get a chance to look into this?

[2020-05-19 12:20] dfreeman commented on #93
@rwwagner90 Apologies! I started in on an implementation back in December and then got completely sidetracked. I need to take a bit of time to look at what I wrote and see if I can remember what I was doing, and I'll report back.

[2020-05-19 15:16] rwwagner90 commented on #93
@dfreeman I'm happy to help as well, just let me know! It seems like there are talks of deprecating addon docs, since it is bad for SEO, but I love using it, so I would like to get this working, so it's a viable solution again.

[2020-06-21 18:49] lolmaus commented on #327
@samselikoff  Have you been able to resolve this and enable a rehydratable static site for `ember-cli-addon-docs`?

[2020-06-22 00:36] samselikoff commented on #327
No, unfortunately I’m not working on this project anymore. Should definitely be possible though!

[2020-07-19 23:39] rwwagner90 commented on #93
@dfreeman would you like to possibly pair on this? I just took a look for awhile and it seems that the main thing we need to do is move the replacing of the rootUrl to much earlier. I think we could build the app, then if we also want to update latest, we can copy the built output over to the latest folder as part of the ember build, rather than in deploy. I think this would be a good first step a

[2020-08-03 20:39] elwayman02 opened #476 "addon-docs fails with latest ember-cli-babel"
Addon-docs fails to build if you upgrade ember-cli-babel to 7.22.x, due to a failure in ember-cli-clipboard.

It's possible that upgrading to the latest ember-cli-clipboard (0.15.0, currently on 0.13.0) will fix this issue.

[2020-08-10 00:17] rwwagner90 commented on #476
@elwayman02 I opened a PR to update ember-cli-clipboard https://github.com/ember-learn/ember-cli-addon-docs/pull/496

Will merge and get a new version out soon, and hopefully it'll fix things!

[2020-08-13 13:40] rwwagner90 commented on #476
@elwayman02 I released 0.9.0, which seems to work with latest ember-cli-babel, I think. Can you confirm this is fixed?

[2020-08-13 18:29] elwayman02 commented on #476
It appears to work locally, reproducing in CI now to confirm: https://github.com/elwayman02/ember-scroll-modifiers/pull/149

[2020-08-13 19:54] #476 closed

[2020-08-20 09:38] buschtoens opened #525 "Out of the box GitHub Actions support"
It would be great to get out of the box support for GitHub Actions or at least a go-to guide.

[2020-08-20 11:54] rwwagner90 commented on #525
@buschtoens I would be glad to work with you on this. We have a lot we need to do to modernize this project. I've been slowly chipping away at it.

[2020-08-20 15:00] buschtoens commented on #525
I got it working in https://github.com/ember-intl/ember-intl/pull/1425, without the use of `ember-cli-deploy-git-ci`, thanks to the help of @dfreeman.

I was trying to base my setup on @NullVoxPopuli's setup in [`ember-jsqr`](https://github.com/NullVoxPopuli/ember-jsqr/blob/master/.github/workflows/docs-for-release.yml), where he _is_ using `ember-cli-deploy-git-ci` with a `DEPLOY_KEY` env, but co

[2020-08-20 16:27] rwwagner90 commented on #525
It would be nice if we had a CI agnostic solution, so things could be built and deployed on Travis, GitHub Actions, Circle etc. but if it is easier to just support GitHub Actions, I do think that is the best choice to lock down on.

[2020-08-20 17:00] buschtoens commented on #525
Definitely, CI-agnostic would be best - I agree. We don't necessarily need to _drop_ `ember-cli-deploy` in order to adopt GitHub Actions. We could maintain support for both, but it would mean double work.

Ideally we'd have a nice GitHub Actions plugin for `ember-cli-deploy`, but I doubt that's easily possible.

[2020-08-23 16:38] #146 closed, assigned to nobody

[2020-08-24 15:54] alexlafroscia commented on #406
I believe it's fixed!

[2020-08-24 16:17] josemarluedke commented on #326
I'm not sure if this is still a problem. I believe it is not as we have replaced `ember-cli-tawilind` with tailwindcss/postcss (#412) after this issue was open. I will close, feel free to reopen if anyone else finds the same problem.

[2020-08-24 16:17] #326 closed

[2020-08-24 19:20] rwwagner90 commented on #406
Closing for now, if anyone sees this again, please let us know!

[2020-08-24 19:20] #406 closed

[2020-09-05 14:33] rwwagner90 commented on #399
I am going to close this as out of scope, but if anyone wants to implement this or something similar, we would gladly accept a PR!

[2020-09-05 14:33] #399 closed

[2020-09-05 14:34] rwwagner90 commented on #385
@joukevandermaas @lolmaus would either of you be able to elaborate on the issues you encountered? I'm thinking we should move the build to GitHub actions and run on Mac, Windows, and Linux.

[2020-09-05 14:37] rwwagner90 commented on #287
@gossi @mike-engel I believe it is required that users use `AddonDocsRouter` if they want to use this addon, and I also think `locationType: 'auto'` is recommended. I am going to close this as out of scope, as I don't think it is a bug, just a requirement of using the addon.

[2020-09-05 14:37] #287 closed

[2020-09-05 14:39] rwwagner90 commented on #398
@Alonski can you give an example of when you would need params support?

[2020-09-05 19:02] Alonski commented on #398
@rwwagner90 So I actually don't remember 😅

Also we've started migrating from addon docs to Storybook 😬

[2020-09-05 20:42] #398 closed

[2020-09-06 09:48] lolmaus commented on #385
@lolmaus I linked to the issue I had experienced: #427.

[2020-09-10 09:16] bitwolfe commented on #402
This issue still exists with 0.10.0

[2020-09-10 09:46] bitwolfe commented on #402
I found a workaround for my issue at least, sharing here incase someone else runs into this. Adding a blank line at the beginning of the example block seems to fix my issue. So going with the same example as I used before:

This doesn't work:

[code]

But this does!

[code]

Super strange.

[2020-09-10 11:41] rwwagner90 commented on #402
@bitwolfe we're using DocsDemo for ember-flatpickr and it seems to work fine for our use case. https://github.com/shipshapecode/ember-flatpickr/blob/master/tests/dummy/app/templates/docs/components/ember-flatpickr.md

I'm curious what the difference is or if it's just that we're using angle brackets? Would love to narrow down what doesn't work.

[2020-09-10 12:01] bitwolfe commented on #402
@rwwagner90 I've tested with angle brackets as well, that doesn't seem to matter.

The below also fails with the same error:

`Closing tag `p` (on line 5) did not match last open tag `DocsDemo` (on line 2).`

[code]

Again, adding a blank live before the hr tag magically makes it work.

[2020-09-10 14:06] rwwagner90 commented on #402
@bitwolfe I wonder if it just has to be more than one line in general?

[2020-09-11 12:16] bitwolfe commented on #402
@rwwagner90 Unfortunately I don't think that's it, as I've had the same issue with multi-line examples as well. And today I was able to remove some blank lines that were required before. That may have to do with switching to angle brackets for the docs components though.

I seem to have found some sort of re-producible case however... And where the blank line is seems to matter greatly.

The follo

[2020-09-11 15:37] rwwagner90 commented on #402
@bitwolfe I really have no idea here. Seems like an off by one kind of thing I suppose. Any ideas how to debug?

[2020-09-19 16:08] jrock2004 commented on #460
I would be willing to help with this if this is something we would want to do? Would we have to keep both examples or just use octane syntax?

[2020-10-03 18:28] jrock2004 opened #590 "Link to another page in documentation"
So in the md file, I want to add a url to another page in the documentation. How would I do that in the markdown file?

[code]

Just not sure the URL format

[2020-10-03 18:39] jrock2004 commented on #590
Ah I finally figured it out. I just had to do `[Buttons](button)`

[2020-10-03 18:39] #590 closed

[2020-10-05 16:07] rwwagner90 commented on #460
@jrock2004 sorry for the late reply! Would love some help with this. I think we should update everything to only modern / Octane syntax. No need to keep both Octane and classic around.

[2020-12-08 19:57] elwayman02 opened #666 "Fails in Ember Canary"
My addon has started failing builds because of errors with ec-addon-docs in Ember Canary:

[code]

More info: https://github.com/elwayman02/ember-user-activity/runs/1510950766

[2020-12-08 23:43] rwwagner90 commented on #666
@elwayman02 yeah, our own build here is failing too. I haven't had time to look into why yet.

[2020-12-10 19:40] #666 closed

[2020-12-23 21:13] #424 closed

[2020-12-23 21:13] #455 closed

[2020-12-23 21:13] #457 closed

[2021-01-12 01:39] josemarluedke opened #709 "Extract version deployment into a new addon"
The deploy pipeline with the version support is pretty awesome. The community would benefit if we extracted that functionality into a new addon that could be used outside of addon-docs. It probably could be an ember-cli-deploy plugin.

The Docfy project (in the Ember integration) would probably use something like that to support versioned docs.

[2021-01-12 01:56] rwwagner90 commented on #709
@josemarluedke sounds like a great idea to me! I'm not well versed in how that bit works though, and haven't done much with emver-cli-deploy. Is this something you would like to take on?

[2021-02-07 20:46] NullVoxPopuli commented on #525
👋 just wanted to say that I've been updating ember-jsqr a bit, and the GH Workflow I had for addon-docs didn't work anymore (used old / no-longer-existing / insecure GH Action API). I removed that bit and now only docs updates on the master branch are deploying. I'm investigating a bit still

[2021-02-07 20:57] NullVoxPopuli commented on #525
Turns out I had a `[skip ci]`-type behavior on my deploy of tags. oops. https://github.com/NullVoxPopuli/ember-jsqr/commit/7812771e1be02f288e32e1ae39020ef07c65af4f

[2021-02-07 21:10] NullVoxPopuli commented on #525
nope, that wasn't it. It seems my tagged workflow isn't triggering at all 🤔

[2021-02-11 16:10] ef4 opened #746 "Addon Doc's own homepage has broken styling"
Links are currently unreadable because they're the same color as their background:

<img width="676" alt="Screen Shot 2021-02-11 at 11 09 56 AM" src="https://user-images.githubusercontent.com/319282/107663732-b33de800-6c59-11eb-861d-6451e46c09aa.png">

[2021-02-11 16:59] rwwagner90 commented on #746
@ef4 this has been an issue for awhile. It's due to the CSS variables and trying to have a theme color. We should probably just remove that and instead ship a white background.

[2021-02-11 17:08] rwwagner90 commented on #746
It was a quick fix to remove the brand color from the body background. I think that's the main issue here.

[2021-02-11 18:43] #746 closed

[2021-03-03 12:15] chbonser opened #763 "Template only glimmer components"
Is addon docs able to document template only glimmer components? If so, are there any good examples?

[2021-03-03 12:24] rwwagner90 commented on #763
I'm not sure actually. I think most of the generated docs typically come from JS, but you could add your own `md` files to manually document your components as well.

[2021-03-05 15:22] Windvis opened #766 "`setupRouter` deprecation warning"
The browser console shows the following warning on the latest version:

`DEPRECATION: The use of Ember.Router in setupRouter is deprecated. Please use the router service. [deprecation id: ember-app-scheduler.setupRouter]`

Updating to ember-router-scroll v4 [should fix that](https://github.com/DockYard/ember-router-scroll/blob/master/CHANGELOG.md#400).

[2021-03-05 15:33] rwwagner90 commented on #766
@Windvis would you be interested in submitting a PR with the fix? I think it's not as simple as changing the dependency version.

[2021-03-05 15:41] Windvis commented on #766
Yea, it seems the router no longer needs to be extended. So in theory the [AddonDocsRouter](https://github.com/ember-learn/ember-cli-addon-docs/blob/a3e3a35dba83f6d9357c854164ecf1c785383712/addon/router.js#L22) is no longer needed either.

Should I show a warning message that extending `AddonDocsRouter` is no longer needed? Or should it be kept in case it's needed in the future?

[2021-03-05 16:04] rwwagner90 commented on #766
I think we may still need `AddonDocsRouter`. It just would not need to extend `EmberRouterScroll` anymore potentially.

[2021-03-05 20:45] #766 closed

[2021-03-08 21:21] chbonser commented on #763
Yes I can use the `md` files to manually document them, however that leaves a discrepancy between the auto generated component section and my manually documented section which is potentially confusing the users of the docs.

[2021-03-20 01:01] rwwagner90 commented on #763
@chbonser ah yes, that would be less than ideal. Is this something you have time to investigate or perhaps help with implementing? I'm just trying to keep this repo afloat, but have not had a lot of time to do a deep dive into it.

[2021-03-20 07:07] ijlee2 commented on #763
@rwwagner90 I haven't dived into the repo before, but can try to provide support as well.

[2021-04-29 01:20] elwayman02 opened #818 "Ember Data is a secret dependency breaking consumers of ec-addon-docs"
It's marked as a `peerDependency`, but it is required for ec-addon-docs to run properly. If the consuming project does not have `ember-data` in its package.json, ec-addon-docs breaks and throws an error, and the docs will not render. However, we can't specify it as a dependency within ec-addon-docs, either.

Addons do not ship with ember-data by default, as it is not part of the addon blueprint. M

[2021-05-12 18:26] elwayman02 opened #830 "Ember 3.27 and/or embroider/test-setup 0.40 breaks ec-addon-docs"
Two of my projects using ec-addon-docs are failing to render when deployed, with the same error surfacing when upgrading `ember-source` to 3.27 or `embroider/test-setup` to 0.40.

See: https://github.com/emberjs/ember.js/issues/19538 and https://github.com/embroider-build/embroider/issues/805

[2021-05-12 18:28] elwayman02 commented on #830
Incidentally, my doc sites that don't use ec-addon-docs have not experienced these issues, so something about the way ec-addon-docs is built specifically runs afoul of the bugs introduced in those versions.

[2021-05-26 03:11] #410 closed

[2021-05-29 03:09] SergeAstapov commented on #440
Looks like it was fixed in #414

[2021-06-14 21:22] nwhittaker opened #882 "Handle highlight.js deprecation"
Deprecated as of 10.7.0. Please use highlight(code, options) instead.
https://github.com/highlightjs/highlight.js/issues/2277

Seeing the above deprecation warning when running `ember build` in an app that depends on `ember-cli-addon-docs`.

I suspect it stems from this line:
https://github.com/ember-learn/ember-cli-addon-docs/blob/35b8f7f22e3f76892569fe254eaf3a435d24ef44/addon/utils/compile-markd

[2021-06-21 01:34] rwwagner90 commented on #830
@elwayman02 I believe that ember-modal-dialog is the source of a lot of our embroider woes.

[2021-06-21 02:00] #882 closed

[2021-07-28 16:11] csprocket777 opened #915 "Cannot read property 'program' of undefined"
I've setup `ember-cli-addon-docs` in my addon but when I go to serve it up to develop the docs I get a build error:

`Cannot read property 'program' of undefined`

#### Broccoli Plugin: DocsGenerator
[code]

And then what looks to be 3 expressions of the same error below that:
[code]

[code]

[2021-08-20 19:39] jkeen commented on #454
Also running into trouble with some of this setup. I've got a custom domain for my gh-pages site, and it github wants you to put a `CNAME` file at the root. I tried adding that manually to the gh-pages root (seemed like a good idea at the time) but then every time I deployed that file it would get deleted and would knock the site offline.

Turns out you need to stick that `CNAME` file in `/tests/d

[2021-09-15 00:58] rwwagner90 commented on #915
@csprocket777 can you please try the master branch? I've been working on modernizing everything.

[2021-09-20 16:27] rwwagner90 commented on #915
@csprocket777 please try the latest, 4.0.2 and let me know if you are still experiencing issues!

[2021-10-14 17:16] ming-codes opened #972 "Dependency on `ember-cli-clipboard` commit"
What's needed in this? We are having trouble importing the addon because the dependency on public Github.

[2021-11-16 14:27] csprocket777 commented on #915
I am not experiencing the same issue after using 4.0.2. i'm experiencing a different issue now. Shall I open a different ticket?

[2021-11-16 14:36] csprocket777 opened #1005 "You attempted to generate link for the "docs" route..."
Installed latest per instructions. When serving the app I'm getting the following error:
[code]

I think the problem is in the unknown injection error but am unsure how to resolve that. I've tried to replicate what I see in the addon repo in the dummy app here but it's not helping.

[2021-11-16 14:47] csprocket777 commented on #1005
Double derp... Ok, this was a silly mistake on my part. For anyone else running into this, my error was caused by Ember-data not being installed in my addon.

[2021-11-16 14:47] #1005 closed

[2021-11-16 20:10] rwwagner90 commented on #915
@csprocket777 yes please, I will close this one.

[2021-11-16 20:10] #915 closed

[2021-11-16 20:12] rwwagner90 commented on #972
@ming-codes it was stuff for Ember 4 and/or Embroider, I forget. It looks like they released a new version though, so we should be able to use the published version.

[2021-11-17 20:02] csprocket777 commented on #137
Is there an example of using the `@argument` decorator? I'm using the esdoc generator and I'm not seeing ANY effect on putting decorators in my code to guide the doc generation process.

[2021-11-27 16:08] miguelcobain commented on #195
https://github.com/ember-learn/ember-cli-addon-docs/pull/1016

[2021-12-01 14:45] rwwagner90 commented on #972
We no longer rely on that specific commit.

[2021-12-01 14:45] #972 closed

[2021-12-02 15:12] #195 closed

[2022-01-25 09:16] ollar opened #1102 "I have an errors while building addon on heroku"
Sorry if my question is out of scope, but I can not build my addon with heroku ci. Unfortunately I get a rather weak error message:

[code]

As I think, a build process was at a very beginning stage and failed. But I can build project locally without any errors.
Heroku ci environment:
OS: Some Ubuntu, not sure about the version.

[code]

I will be very grateful for any help. Thanks.

[2022-02-07 23:11] miguelcobain commented on #262
Did https://github.com/ember-learn/ember-cli-addon-docs/pull/1016 fix this?

[2022-02-08 02:28] rwwagner90 commented on #262
@miguelcobain I think this is about updating our internal docs to use angle brackets everywhere. I think there are still lots of examples to update. For example https://github.com/ember-learn/ember-cli-addon-docs/blob/master/tests/dummy/app/templates/docs/components/docs-header.md

Would you be interested in helping convert the docs to angle bracket? I could really use help with this addon.

[2022-02-08 02:30] miguelcobain commented on #262
@rwwagner90 I will try to give that a shot this week. 👍

[2022-02-11 14:53] csprocket777 opened #1132 "New error: @babel/template placeholder "ADDON_DOCS_DEPLOY_VERSION": Expected string substitution"
Since yesterday, the my builds have been failing because of a specific error:

`/[...projectFolderPath...]/@embroider/macros/runtime.js: @babel/template placeholder "ADDON_DOCS_DEPLOY_VERSION": Expected string substitution`

I'm using `ember-cli-addon-docs@4.2.2`.

How do I resolve this? How do I troubleshoot this?

[2022-02-11 14:55] SergeAstapov commented on #1132
@csprocket777 could you please check if you experience the issue described in https://github.com/FortAwesome/ember-fontawesome/issues/194 and https://github.com/embroider-build/embroider/issues/1077 by checking in your lock file if any `@embroider/macros` < 1.0.0 present in your tree?

[2022-02-11 15:03] csprocket777 commented on #1132
Is the solution to pin `@embroider/macros` in my resolutions like in this comment:

[2022-02-11 15:12] #1132 closed

[2022-02-22 14:55] #431 closed

[2022-02-22 14:57] rwwagner90 commented on #400
This should be fixed, as we no longer use ember-href-to internally.

[2022-02-22 14:57] #400 closed

[2022-02-22 14:58] #397 closed

[2022-02-22 14:59] #303 closed

[2022-02-22 15:00] rwwagner90 commented on #262
@miguelcobain is there anything remaining for this?

[2022-02-22 15:47] miguelcobain commented on #262
@rwwagner90 nope. We should be all-in on angle brackets now.

[2022-02-22 17:47] #262 closed

[2022-03-14 19:34] nadnoslen commented on #340
I agree with that @rwwagner90. I say close it.

[2022-03-15 01:43] #340 closed

[2022-05-17 16:57] #440 closed

[2022-05-17 16:58] rwwagner90 commented on #395
Closing this for now. If anyone is still experiencing this issue, please let us know!

[2022-05-17 16:58] #395 closed

[2022-05-17 16:59] rwwagner90 commented on #381
liquid-fire was removed, so this should no longer be an issue

[2022-05-17 16:59] #381 closed

[2022-05-17 17:00] #371 closed

[2022-05-17 17:28] rwwagner90 commented on #238
@miguelcobain is this still an issue?

[2022-05-18 00:03] miguelcobain commented on #238
I don't think so. Let's close for now.

[2022-05-18 00:03] #238 closed

[2022-06-16 12:55] rwwagner90 commented on #830
I think things should be working now, but let me know if they are not.

[2022-06-16 12:55] #830 closed

[2022-07-02 01:55] geneukum opened #1275 "DocsKeyboardShortcutsComponent: pressing 'g' key throws TypeError"
When I run the ember-intl docs app locally (uses v5.0.0 of ember-cli-addon-docs) and then press the 'g' key, I see an error logged to the console:

[code]

This makes sense, since `DocsKeyboardShortcutsComponent` is a glimmer component which won't have `this.set` available. I think that we can probably just switch this over to a regular assignment to avoid the problem.

[2022-08-04 07:47] derrabauke opened #1309 "Decorator is not a function error"
Hi folks,

Building works fine, but as soon as I want to visit the docs page I get the following error:
![image](https://user-images.githubusercontent.com/10029904/182791686-b07a768f-db59-48e6-8b1e-f3f119fdcb5f.png)

Current setup:
[code]

After downgrading to the following deps it works fine again:
[code]
The error hint to `tracked-toolbox` didn't :bulb: me so far. Tried to update my "tracked-too

[2022-08-04 09:16] derrabauke commented on #1309
I could fix it in our monorepo with the following resolution:
[code]
Tried updating to `"tracked-toolbox": "^2.0.0"` in all sub-packages as well (without the resolution ofc), but it would not fix the issue. So I reset them to `^1.2.3` and put the resolution in place.

[2022-08-09 15:05] mike-engel commented on #75
Unfortunately this still doesn't work for documenting apps, at least following the guide @rwwagner90 linked to. Ember returns this error when running `ember serve`:

[code]

This is the stack trace from the debug log:
[code]

Unfortunately I don't know too much about ember internals, but it seems like `ember-cli-addon-docs` requires that the parent project being documented is an addon, even if it'

[2022-08-19 19:43] csprocket777 opened #1316 "Document inheritance in component subclasses"
I'm using ember-cli-typescript to develop an addon. My components subclass a base component. I'd really like the documentation to show the inherited pieces of the base component.

Given that the default documenter is YUIDocs and that it's purely tag driven, that doesn't seem possible. Is this done with ember component projects or is this a pipe dream?

[2022-11-17 00:30] barryofguilder commented on #818
I just ran into this issue when trying to upgrade my addon to Ember 4.x. I didn't realize that `ember-data` was added as a devDependency years ago for `ember-cli-addon-docs`. I removed it since it was pointing to 3.x, then I spent a while trying to figure out why I was getting this error in my dev console:

<img width="1009" alt="Screen Shot 2022-11-16 at 7 21 29 PM" src="https://user-images.githu